body {
    background: url('../img/bg-barber-pb1.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #2b2b2b;
}

h1 {
    display: flex;
    font-size: 24px;
    color: #f0f0f0; 
    margin-left: 20px;
}

nav {
    display: flex;
    gap: 15px;
}

.card {
    width: 150px;
    height: 200px;
    background-color: #5e5e5e; 
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(41, 41, 41, 0.5);
}

.card a {
    text-decoration: none;    
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 200px;
}

.card img {
    display: flex;
    width: 140px;
    height: 140px;
    margin-top: 30px;
}

.card p {
    display: flex;
    justify-content: center;
    margin: 8px;
    font-size: 15px;
    color: #f0f0f0; 
}